/* Fuente externa Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --bg-primary: #FAF8F2;
  --bg-secondary: #f0ede4;
  --beige-teal: #F1EDE7;
  --gray-acent: #ebebeb;
  --white: #FAFAFA;
  --black: #333333;
  --gray: #797979;
  --red: #b72020;
  --white-text: #FAFAFA;
  --black-text: #333333;
  --placeholder: #757575;
  --link-hover: #494949;
  --link-hover-white: #f0f0f0;
  --border-gray: #dfdfdf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100dvh;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container .header {
  width: 100%;
}
.container .header .info {
  background-color: var(--black);
  color: var(--white);
  font-weight: 600;
  padding-inline: 40px;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowwrap;
}
.container .header .info-options {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowwrap;
}
.container .header .info-options-item {
  text-decoration: none;
  color: var(--white);
  padding-inline: 20px;
  padding-block: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowwrap;
  column-gap: 5px;
  transition: 0.2s 0.01s ease-in-out;
}
.container .header .info-options-item:hover {
  background-color: var(--link-hover);
}
.container .header .main-header {
  border-bottom: 1px solid var(--border-gray);
  padding-block: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column nowwrap;
}
.container .header .main-header .search {
  overflow: hidden;
  border-radius: 5px;
}
.container .header .main-header .search .input {
  background-color: var(--gray-acent);
  padding: 10px 15px;
}
.container .header .main-header .search .input input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  width: 250px;
  color: var(--black);
}
.container .header .main-header .search .input input::placeholder {
  color: var(--placeholder);
}
.container .header .main-header .search .input i, .container .header .main-header .search .input a {
  color: var(--black);
  cursor: pointer;
}
.container .header .main-header img {
  width: 150px;
  aspect-ratio: 146/36;
}
.container .header .main-header .account-details {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowwrap;
  column-gap: 20px;
  width: 250px;
}
.container .header .main-header .account-details-item {
  position: relative;
  padding: 2px;
  cursor: pointer;
  transition: 0.3s 0.01s ease-in-out;
}
.container .header .main-header .account-details-item:hover, .container .header .main-header .account-details-item a:hover {
  color: var(--link-hover);
}
.container .header .main-header .account-details-item i, .container .header .main-header .account-details-item a {
  font-size: 1.5rem;
  color: var(--black);
}
.container .header .main-header .account-details-item .bubble {
  position: absolute;
  top: -30%;
  right: -30%;
  border-radius: 50%;
  background-color: var(--black);
  color: var(--white);
  font-size: 0.8rem;
  font-size: 700;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowwrap;
}
.container .header .nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column nowwrap;
  font-weight: 600;
}
.container .header .nav a {
  text-decoration: none;
  color: var(--black);
  padding-inline: 25px;
  padding-block: 25px;
  transition: 0.3s 0.01s ease-in-out;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column nowwrap;
  column-gap: 15px;
}
.container .header .nav a:hover {
  background-color: var(--link-hover-white);
}
.container .header .nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowwrap;
  list-style: none;
}
.container .header .nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowwrap;
}

.container .hero {
  position: relative;
  min-height: 90dvh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowwrap;
}
.container .hero figure {
  min-height: 100dvh;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 0;
}
.container .hero img {
  width: 100%;
  aspect-ratio: 16/9;
  height: 100dvh;
  object-fit: cover;
  transition: 1.5s 0.01s ease-in-out;
  overflow: hidden;
}
.container .hero:hover img {
  transform: scale(1.03);
}
.container .hero .details {
  z-index: 1;
  backdrop-filter: blur(10px);
  background-color: rgba(250, 250, 250, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  row-gap: 10px;
  padding: 20px 50px;
  border-radius: 10px;
}
.container .hero .details h2 {
  font-size: 1.2rem;
  font-weight: 500;
}
.container .hero .details section h3 {
  font-size: 3rem;
}
.container .hero .details section h4 {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 10px;
}
.container .hero .details a {
  background-color: var(--black);
  color: var(--white-text);
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: 0.3s 0.01s ease-in-out;
  margin-top: 20px;
}
.container .hero .details a:hover {
  background-color: var(--link-hover);
}

.container .banner {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: var(--bg-primary);
  padding-block: 30px;
  padding-inline: 100px;
}
.container .banner h1, .container .banner h2, .container .banner h3 {
  font-size: 1.5rem;
}

.categories {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: var(--bg-primary);
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  row-gap: 25px;
}
.categories-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  row-gap: 5px;
}
.categories-description h3 {
  font-size: 1.5rem;
}
.categories-options {
  display: flex;
  justify-content: space-between;
  align-items: top;
  flex-flow: row nowrap;
  column-gap: 20px;
  width: 100%;
}
.categories-options .category {
  width: 20%;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-flow: column nowrap;
  row-gap: 15px;
  transition: 0.3s 0.01s ease-in-out;
}
.categories-options .category figure {
  width: 100%;
  height: 210px;
}
.categories-options .category figure img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  object-position: center;
}
.categories-options .category-detail {
  text-align: center;
  padding-bottom: 5px;
}
.categories-options .category-detail p {
  font-weight: 600;
  font-size: 1.3rem;
}
.categories-options .category-detail a {
  font-size: 0.9rem;
  color: var(--black);
  text-decoration: none;
}
.categories-options .category-detail a:hover {
  text-decoration: underline;
}
.categories-options .category:hover {
  background-color: var(--link-hover-white);
}
.categories hr {
  background-color: rgb(185, 185, 185);
  height: 1px;
  width: 100%;
  margin-top: 15px;
}

.form {
  width: 30%;
  position: relative;
  overflow: hidden;
  border: 1px solid white;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  row-gap: 10px;
}
.form .actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  row-gap: 10px;
}
.form .actions a {
  color: var(--white);
  text-decoration: none;
}
.form .actions a:hover {
  text-decoration: underline;
}

.container .sales {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: var(--white);
  padding-bottom: 50px;
  padding-inline: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  column-gap: 20px;
}
.container .sales .sale {
  position: relative;
  width: 30%;
  position: relative;
  overflow: hidden;
  min-height: 230px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-flow: row nowrap;
  row-gap: 15px;
  padding: 20px;
}
.container .sales .sale:nth-child(1) {
  background: url("../../assets/images/sales/sale1.jpg") no-repeat center center/cover;
}
.container .sales .sale:nth-child(2) {
  background: url("../../assets/images/sales/sale2.jpg") no-repeat center center/cover;
}
.container .sales .sale:nth-child(3) {
  background: url("../../assets/images/sales/sale3.jpg") no-repeat center center/cover;
}
.container .sales .sale span {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), transparent);
  min-height: 230px;
}
.container .sales .sale-detail {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-flow: column nowrap;
  row-gap: 10px;
  color: var(--white);
  z-index: 10;
  position: relative;
  width: 100%;
}
.container .sales .sale-detail p {
  text-transform: uppercase;
}
.container .sales .sale-detail h3 {
  font-size: 1.4rem;
  width: 60%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.container .sales .sale-detail a {
  text-decoration: none;
  color: var(--white);
  padding: 10px 15px;
  transition: 0.3s 0.01s ease-in-out;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column nowwrap;
  border-radius: 5px;
  font-weight: 600;
  background-color: var(--black);
}
.container .sales .sale-detail a:hover {
  background-color: var(--link-hover);
}

.products-grid {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-block: 50px;
  padding-inline: 100px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-flow: row nowrap;
  column-gap: 20px;
}
.products-grid .filters {
  width: 30%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-flow: column nowrap;
  row-gap: 15px;
  overflow: hidden;
  position: relative;
}
.products-grid .filters-group {
  width: 100%;
}
.products-grid .filters-group strong {
  font-size: 1.1rem;
}
.products-grid .filters-group .options {
  margin-top: 10px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-flow: column nowrap;
  row-gap: 5px;
  width: 100%;
}
.products-grid .filters-group button {
  border: none;
  outline: none;
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
}
.products-grid .filters-group button:nth-child(1) {
  background-color: var(--red);
  color: var(--white);
}
.products-grid .filters-group button:nth-child(1):hover {
  background-color: rgb(128, 4, 4);
}
.products-grid .filters-group button:nth-child(2):hover {
  background-color: #d3d3d3;
}
.products-grid .list {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-flow: column nowrap;
  row-gap: 15px;
}
.products-grid .list .actions {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-flow: row nowrap;
  column-gap: 15px;
  font-size: 1.1rem;
}
.products-grid .list .actions-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}
.products-grid .list .actions-options i {
  padding: 5px;
}
.products-grid .list .actions-options i:hover {
  background-color: var(--link-hover-white);
  cursor: pointer;
}
.products-grid .list .grid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-flow: row wrap;
  gap: 30px;
}
.products-grid .list .grid .card {
  width: 22%;
  border: 2px solid var(--gray-acent);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  transition: 0.3s 0.01s ease-in-out;
  text-decoration: none;
}
.products-grid .list .grid .card figure {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.products-grid .list .grid .card figure img {
  width: 100%;
}
.products-grid .list .grid .card figure .percent-discount {
  position: absolute;
  top: 2%;
  left: 2%;
  background-color: var(--red);
  color: var(--white);
  padding: 5px;
  font-size: 0.9rem;
  border-radius: 5px;
}
.products-grid .list .grid .card .detail {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  row-gap: 3px;
  background-color: var(--gray-acent);
  padding: 4px;
  color: var(--black);
  text-align: center;
}
.products-grid .list .grid .card .detail .brand {
  color: var(--gray);
}
.products-grid .list .grid .card .detail .product {
  font-size: 1rem;
  font-weight: 500;
}
.products-grid .list .grid .card .detail .prices {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  column-gap: 5px;
  font-size: 1rem;
}
.products-grid .list .grid .card .detail .tatch {
  text-decoration: line-through;
}
.products-grid .list .grid .card:hover {
  transform: scale(1.01);
}

.subscribe {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: var(--bg-secondary);
  padding-block: 50px;
  padding-inline: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
  row-gap: 20px;
  text-align: center;
}
.subscribe h2 {
  letter-spacing: 3px;
}
.subscribe .input-subscribe {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  column-gap: 20px;
}
.subscribe .input-subscribe input {
  width: 100%;
  padding: 12px 15px;
  font-size: 1rem;
  outline: none;
  border: none;
  border: 2px solid var(--black);
}
.subscribe .input-subscribe button {
  border: none;
  outline: none;
  background-color: var(--black);
  padding-inline: 10px;
  color: var(--white);
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s 0.01s ease-in-out;
}
.subscribe .input-subscribe button:hover {
  background-color: var(--link-hover);
}

.container .footer {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: var(--white);
  padding-top: 50px;
  padding-inline: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
  row-gap: 20px;
}
.container .footer .about-enterprise {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: top;
  flex-flow: row nowrap;
  column-gap: 15px;
  padding-bottom: 80px;
}
.container .footer .about-enterprise .col {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-flow: column nowrap;
  row-gap: 10px;
  color: var(--gray);
}
.container .footer .about-enterprise .col p {
  width: 90%;
}
.container .footer .about-enterprise .col section {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-flow: row nowrap;
  column-gap: 10px;
}
.container .footer .about-enterprise .col section img {
  width: 150px;
}
.container .footer .about-enterprise .col ul {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-flow: column nowrap;
  row-gap: 15px;
}
.container .footer .about-enterprise .col ul li a {
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--gray);
}
.container .footer .about-enterprise .col ul li a:hover {
  text-decoration: underline;
}
.container .footer .about-enterprise .col:nth-child(1) {
  width: 35%;
}
.container .footer .about-enterprise .col:nth-child(2) {
  width: 15%;
}
.container .footer .about-enterprise .col:nth-child(3) {
  width: 15%;
}
.container .footer .about-enterprise .col:nth-child(4) {
  width: 15%;
}
.container .footer .about-enterprise .col:nth-child(5) {
  width: 20%;
}
.container .footer .social-media {
  width: 100%;
  padding-block: 20px;
  padding-bottom: 30px;
  border-top: 2px solid #d1d1d1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}
.container .footer .social-media .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  column-gap: 20px;
  font-size: 1.6rem;
}
.container .footer .social-media .social .link {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  background-color: var(--gray-acent);
  transition: 0.3s 0.01s ease-in-out;
  text-decoration: none;
  color: var(--black);
}
.container .footer .social-media .social .link:hover {
  background-color: var(--link-hover-white);
}
.container .footer .social-media .social .link:nth-child(1):hover {
  color: #3b5998;
}
.container .footer .social-media .social .link:nth-child(2):hover {
  color: #a34193;
}
.container .footer .social-media .payment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  column-gap: 15px;
  font-size: 1.9rem;
}
.container .footer .social-media .payment i:nth-child(1) {
  color: #3b5998;
}
.container .footer .social-media .payment i:nth-child(2) {
  color: #FF5F00;
}
.container .footer .social-media .payment i:nth-child(3) {
  color: #0070e0;
}

.login {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row nowrap;
  overflow: hidden;
  position: relative;
  color: var(--white);
  background: url("../../assets/images/login/bg-login.jpeg") no-repeat center center/cover;
}

@media screen and (width <= 1100px) {
  .container {
    background-color: red;
  }
}

/*# sourceMappingURL=app.css.map */
