<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- Archivo externo de css -->
    <link rel="stylesheet" href="../css/app.css">
    <!-- Iconografía -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Login</title>
</head>
<style>
    .login{
        background: url("../assets/images/login/bg-login.jpeg") no-repeat center center/cover;
    }
</style>
<body>
    <div class="container">
        <div class="login">

            <!-- Logo -->
            <figure>
                <img src="../assets/images/logo-siman-blanco.png" alt="">
            </figure>
            
            <!-- Login form -->
            <form action="#" class="form">
                <h2>Inicia de sesión</h2>

                <!-- Usuario -->
                <div class="field">
                    <label>Usuario</label>
                    <input type="text" placeholder="correo@gmail.com" minlength="3" maxlength="50">
                </div>

                <!-- Contraseña -->
                <div class="field">
                    <label>Contraseña</label>
                    <input type="password" placeholder="**********" minlength="3" maxlength="50">
                </div>

                <div class="actions">
                    <button>Iniciar sesión</button>
                    <a href="#">Olvidaste tu contraseña</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>