<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Archivo externo de css -->
    <link rel="stylesheet" href="../css/app.css">
    <!-- Iconografía -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Products</title>
</head>
<body>

    <!-- Contenedor principal -->
    <div class="container">
        
        <!-- Encabezado de la pagina -->
        <header class="header">

            <!-- Banner principal -->
            <section class="info">
                <p>Envío gratis a todo el país por un monto mayor a $199</p>
                
                <!-- Opciones generales dentro del sitio -->
                <ul class="info-options">
                    <li>
                        <a href="#" class="info-options-item">¿Necesitas ayuda?</a>
                    </li>
                    <li>
                        <a href="#" class="info-options-item">GiftCards</a>
                    </li>
                    <li>
                        <a href="#" class="info-options-item">
                            USD $
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="info-options-item">
                            Español
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </li>
                </ul>
            </section>

            <!-- Parte principal del emcabezado -->
            <section class="main-header">

                <!-- Seccion de busqueda -->
                <div class="search">
                    <div class="input">
                        <input type="text" placeholder="Busqueda">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>

                <!-- Logo -->
                <figure>
                    <a href="../index.html">
                        <img src="../assets/images/logo-siman.png" alt="">
                    </a>
                </figure>

                <!-- Acciones y detalles de la cuenta -->
                <div class="account-details">

                    <!-- Account -->
                    <div class="account-details-item" title="Cuenta">
                        <a href="./login.html">
                            <i class="fa-regular fa-user"></i>
                        </a>
                    </div>

                    <!-- Favs -->
                    <div class="account-details-item" title="Favoritos">
                        <i class="fa-regular fa-heart"></i>
                        <span class="bubble">0</span>
                    </div>
                    
                    <!-- Shop kart -->
                    <div class="account-details-item" title="Carrito">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span class="bubble">0</span>
                    </div>

                </div>

            </section>

            <!-- Menu de navegacion -->
            <nav class="nav">

                <div>
                    <a href="#" class="nav-option">
                        <i class="fa-solid fa-align-left"></i>
                        CATEGORÍAS
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>
                </div>
                
                <!-- Listado de opciones general de menu -->
                <ul>
                    <li>
                        <a href="../index.html">HOME</a>
                    </li>
                    <li>
                        <a href="#">
                            TIENDA
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">COLECCIONES</a>
                    </li>
                    <li>
                        <a href="#">CONTACTO</a>
                    </li>
                    <li>
                        <a href="#">BLOG</a>
                    </li>
                </ul>
                
                <div>
                    <a href="#" class="nav-option">
                        <i class="fa-solid fa-tag"></i>
                        MEJORES OFERTAS
                    </a>
                </div>

            </nav>

        </header>

        <!-- Banner -->
        <div class="banner">
            <h1>Productos</h1>
        </div>

        <div class="products-grid">

            <!-- filters -->
            <div class="filters">
                <h3>Filtros</h3>

                <!-- Grupo de opcion de filtro para precio -->
                <div class="filters-group">
                    <strong>Precio</strong>

                    <!-- Opciones de filtro -->
                    <div class="options">
                        <div class="option">
                            <input type="range">
                        </div>
                    </div>
                </div>

                <!-- Grupo de opcion de filtro para la marca -->
                <div class="filters-group">
                    <strong>Marca</strong>

                    <!-- Opciones de filtro -->
                    <div class="options">
                        <div class="option">
                            <input type="checkbox" name="marca1" id="marca1">
                            <label for="marca1">Nike</label>
                        </div>

                        <div class="option">
                            <input type="checkbox" name="marca2" id="marca2">
                            <label for="marca2">Addidas</label>
                        </div>

                        <div class="option">
                            <input type="checkbox" name="marca3" id="marca3">
                            <label for="marca3">Tommy</label>
                        </div>

                        <div class="option">
                            <input type="checkbox" name="marca4" id="marca4">
                            <label for="marca4">Under Armour</label>
                        </div>
                    </div>
                </div>

                <!-- Grupo de opcion de filtro para la talla -->
                <div class="filters-group">
                    <strong>Talla</strong>

                    <!-- Opciones de filtro -->
                    <div class="options">
                        <div class="option">
                            <input type="checkbox" name="talla1" id="talla1">
                            <label for="talla1">M</label>
                        </div>

                        <div class="option">
                            <input type="checkbox" name="talla2" id="talla2">
                            <label for="talla2">L</label>
                        </div>

                        <div class="option">
                            <input type="checkbox" name="talla3" id="talla3">
                            <label for="talla3">XL</label>
                        </div>

                        <div class="option">
                            <input type="checkbox" name="talla4" id="talla4">
                            <label for="talla4">2XL</label>
                        </div>
                    </div>
                </div>

                <!-- Grupo de opcion de filtro para el tipo de producto -->
                <div class="filters-group">
                    <strong>Tipo de producto</strong>

                    <!-- Opciones de filtro -->
                    <div class="options">
                        <div class="option">
                            <input type="checkbox" name="tipo1" id="tipo1">
                            <label for="tipo1">Zapatos</label>
                        </div>

                        <div class="option">
                            <input type="checkbox" name="tipo2" id="tipo2">
                            <label for="tipo2">Camisas</label>
                        </div>

                        <div class="option">
                            <input type="checkbox" name="tipo3" id="tipo3">
                            <label for="tipo3">Gorras</label>
                        </div>

                        <div class="option">
                            <input type="checkbox" name="tipo3" id="tipo3">
                            <label for="tipo3">Jeans</label>
                        </div>
                    </div>
                </div>

                <!-- Grupo de opcion de filtro para el tipo de producto -->
                <div class="filters-group">
                    <!-- Opciones de filtro -->
                    <button>Buscar</button>
                    <button>Limpiar</button>
                </div>
            </div>

            <!-- List -->
            <div class="list">
                
                <!-- Sort options -->
                <div class="actions">
                    <p>38 productos</p>
                    <div class="actions-options">
                        <i class="fa-solid fa-list"></i>
                        <i class="fa-solid fa-table-cells"></i>
                    </div>
                </div>

                <!-- Products grid -->
                <div class="grid">

                    <!-- Card 1 -->
                    <a href="#" class="card">
                        <figure>
                            <img src="https://i.pinimg.com/originals/df/ee/0a/dfee0a9a104916ddb1229d6a5a94055e.jpg" alt="">
                        </figure>

                        <div class="detail">
                            <p class="brand">NIKE</p>
                            <p class="product">Sueter de marca nike</p>
                            <div class="prices">
                                <strong class="price">$17.99</strong>
                            </div>
                        </div>
                    </a>

                    <!-- Card 2 -->
                    <a href="#" class="card">
                        <figure>
                            <img src="https://i.pinimg.com/236x/12/ac/c7/12acc73b33339ccf09eb0f429fa76529.jpg" alt="">
                        </figure>

                        <div class="detail">
                            <p class="brand">NIKE</p>
                            <p class="product">Sueter de marca nike</p>
                            <div class="prices">
                                <strong class="price">$17.99</strong>
                            </div>
                        </div>
                    </a>

                    <!-- Card 3 -->
                    <a href="#" class="card">
                        <figure>
                            <img src="https://m.media-amazon.com/images/I/41E0lgCWrjL._AC_.jpg" alt="">
                            <span class="percent-discount">
                                -20%
                            </span>
                        </figure>

                        <div class="detail">
                            <p class="brand">NIKE</p>
                            <p class="product">Sueter de marca nike</p>
                            <div class="prices">
                                <strong class="price tatch">$67.99</strong>
                                <div class="offer">$47.99</div>
                            </div>
                        </div>
                    </a>
                    
                    <!-- Card 4 -->
                    <a href="#" class="card">
                        <figure>
                            <img src="https://i.pinimg.com/236x/92/32/e1/9232e11798515295dd9f33aba12bbbc5.jpg" alt="">
                        </figure>

                        <div class="detail">
                            <p class="brand">NIKE</p>
                            <p class="product">Sueter de marca nike</p>
                            <div class="prices">
                                <strong class="price">$17.99</strong>
                            </div>
                        </div>
                    </a>

                    <!-- Card 5 -->
                    <a href="#" class="card">
                        <figure>
                            <img src="https://i.pinimg.com/236x/69/72/ea/6972ea17fdae166993d005d94693a78b.jpg" alt="">
                            <span class="percent-discount">
                                -35%
                            </span>
                        </figure>

                        <div class="detail">
                            <p class="brand">NIKE</p>
                            <p class="product">Sueter de marca nike</p>
                            <div class="prices">
                                <strong class="price tatch">$27.99</strong>
                                <div class="offer">$17.99</div>
                            </div>
                        </div>
                    </a>

                    <!-- Card 6 -->
                    <a href="#" class="card">
                        <figure>
                            <img src="https://i.pinimg.com/originals/df/ee/0a/dfee0a9a104916ddb1229d6a5a94055e.jpg" alt="">
                        </figure>

                        <div class="detail">
                            <p class="brand">NIKE</p>
                            <p class="product">Sueter de marca nike</p>
                            <div class="prices">
                                <strong class="price">$17.99</strong>
                            </div>
                        </div>
                    </a>

                    <!-- Card 7 -->
                    <a href="#" class="card">
                        <figure>
                            <img src="https://i.pinimg.com/236x/12/ac/c7/12acc73b33339ccf09eb0f429fa76529.jpg" alt="">
                        </figure>

                        <div class="detail">
                            <p class="brand">NIKE</p>
                            <p class="product">Sueter de marca nike</p>
                            <div class="prices">
                                <strong class="price">$17.99</strong>
                            </div>
                        </div>
                    </a>

                    <!-- Card 8 -->
                    <a href="#" class="card">
                        <figure>
                            <img src="https://m.media-amazon.com/images/I/41E0lgCWrjL._AC_.jpg" alt="">
                            <span class="percent-discount">
                                -20%
                            </span>
                        </figure>

                        <div class="detail">
                            <p class="brand">NIKE</p>
                            <p class="product">Sueter de marca nike</p>
                            <div class="prices">
                                <strong class="price tatch">$67.99</strong>
                                <div class="offer">$47.99</div>
                            </div>
                        </div>
                    </a>

                    <!-- Card 9 -->
                    <a href="#" class="card">
                        <figure>
                            <img src="https://i.pinimg.com/originals/df/ee/0a/dfee0a9a104916ddb1229d6a5a94055e.jpg" alt="">
                        </figure>

                        <div class="detail">
                            <p class="brand">NIKE</p>
                            <p class="product">Sueter de marca nike</p>
                            <div class="prices">
                                <strong class="price">$17.99</strong>
                            </div>
                        </div>
                    </a>

                    <!-- Card 10 -->
                    <a href="#" class="card">
                        <figure>
                            <img src="https://i.pinimg.com/236x/12/ac/c7/12acc73b33339ccf09eb0f429fa76529.jpg" alt="">
                        </figure>

                        <div class="detail">
                            <p class="brand">NIKE</p>
                            <p class="product">Sueter de marca nike</p>
                            <div class="prices">
                                <strong class="price">$17.99</strong>
                            </div>
                        </div>
                    </a>

                    <!-- Card 11 -->
                    <a href="#" class="card">
                        <figure>
                            <img src="https://m.media-amazon.com/images/I/41E0lgCWrjL._AC_.jpg" alt="">
                            <span class="percent-discount">
                                -20%
                            </span>
                        </figure>

                        <div class="detail">
                            <p class="brand">NIKE</p>
                            <p class="product">Sueter de marca nike</p>
                            <div class="prices">
                                <strong class="price tatch">$67.99</strong>
                                <div class="offer">$47.99</div>
                            </div>
                        </div>
                    </a>
                    
                    <!-- Card12  -->
                    <a href="#" class="card">
                        <figure>
                            <img src="https://i.pinimg.com/236x/92/32/e1/9232e11798515295dd9f33aba12bbbc5.jpg" alt="">
                        </figure>

                        <div class="detail">
                            <p class="brand">NIKE</p>
                            <p class="product">Sueter de marca nike</p>
                            <div class="prices">
                                <strong class="price">$17.99</strong>
                            </div>
                        </div>
                    </a>

                    <!-- Card 13 -->
                    <a href="#" class="card">
                        <figure>
                            <img src="https://i.pinimg.com/236x/69/72/ea/6972ea17fdae166993d005d94693a78b.jpg" alt="">
                            <span class="percent-discount">
                                -35%
                            </span>
                        </figure>

                        <div class="detail">
                            <p class="brand">NIKE</p>
                            <p class="product">Sueter de marca nike</p>
                            <div class="prices">
                                <strong class="price tatch">$27.99</strong>
                                <div class="offer">$17.99</div>
                            </div>
                        </div>
                    </a>

                    <!-- Card 14 -->
                    <a href="#" class="card">
                        <figure>
                            <img src="https://i.pinimg.com/originals/df/ee/0a/dfee0a9a104916ddb1229d6a5a94055e.jpg" alt="">
                        </figure>

                        <div class="detail">
                            <p class="brand">NIKE</p>
                            <p class="product">Sueter de marca nike</p>
                            <div class="prices">
                                <strong class="price">$17.99</strong>
                            </div>
                        </div>
                    </a>

                    <!-- Card 15 -->
                    <a href="#" class="card">
                        <figure>
                            <img src="https://i.pinimg.com/236x/12/ac/c7/12acc73b33339ccf09eb0f429fa76529.jpg" alt="">
                        </figure>

                        <div class="detail">
                            <p class="brand">NIKE</p>
                            <p class="product">Sueter de marca nike</p>
                            <div class="prices">
                                <strong class="price">$17.99</strong>
                            </div>
                        </div>
                    </a>

                    <!-- Card 16 -->
                    <a href="#" class="card">
                        <figure>
                            <img src="https://m.media-amazon.com/images/I/41E0lgCWrjL._AC_.jpg" alt="">
                            <span class="percent-discount">
                                -20%
                            </span>
                        </figure>

                        <div class="detail">
                            <p class="brand">NIKE</p>
                            <p class="product">Sueter de marca nike</p>
                            <div class="prices">
                                <strong class="price tatch">$67.99</strong>
                                <div class="offer">$47.99</div>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
        </div>

        <!-- Subscribe section -->
        <section class="subscribe">
            <h2>Suscribete a nuestro boletín de noticias y avisos</h2>
            <p>Suscríbete a nuestro último boletín para recibir noticias sobre descuentos especiales y próximas ventas.</p>
            <form method="" action="" class="input-subscribe">
                <input type="text" placeholder="ejemplo@gmail.com" minlength="3" maxlength="255">
                <button>SUBSCRIBETE</button>
            </form>
        </section>

        <!-- Footer page -->
        <footer class="footer">

            <!-- Links and general info about this enterprise -->
            <div class="about-enterprise">

                <!-- Iniformación general -->
                <div class="col">
                    <h3>Sobre nuestra tienda</h3>
                    <p>
                        Ven a nuestra tienda, donde nos enorgullecemos de ofrecer productos excepcionales y un servicio al cliente incomparable. Nuestra tienda es un paraíso para quienes aprecian la calidad, el estilo y la innovación.
                    </p>
                    <section>
                        <figure>
                            <a href="">
                                <img src="../assets/images/footer/app_store.png" alt="">
                            </a>
                        </figure>

                        <figure>
                            <a href="">
                                <img src="../assets/images/footer/play_store.png" alt="">
                            </a>
                        </figure>
                    </section>
                </div>
                
                <!-- Quick links -->
                <div class="col">
                    <h3>Enlaces rápidos</h3>
                    <ul>
                        <li>
                            <a href="#">Busqueda</a>
                        </li>
                        <li>
                            <a href="#">Sobre nosotros</a>
                        </li>
                        <li>
                            <a href="#">Información de envío</a>
                        </li>
                        <li>
                            <a href="#">FAQs</a>
                        </li>
                        <li>
                            <a href="#">Compra</a>
                        </li>
                    </ul>
                </div>
                
                <!-- Information -->
                <div class="col">
                    <h3>Información</h3>
                    <ul>
                        <li>
                            <a href="#">Politicas de compra</a>
                        </li>
                        <li>
                            <a href="#">Envíos</a>
                        </li>
                        <li>
                            <a href="#">Politicas de vendedores</a>
                        </li>
                        <li>
                            <a href="#">Terminos y condiciones</a>
                        </li>
                        <li>
                            <a href="#">Politicas y privacidad</a>
                        </li>
                    </ul>
                </div>
                
                <!-- Need help -->
                <div class="col">
                    <h3>¿Necesitas ayuda?</h3>
                    <ul>
                        <li>
                            <a href="#">Buscar</a>
                        </li>
                        <li>
                            <a href="#">Sobre nosotros</a>
                        </li>
                        <li>
                            <a href="#">Politicas de vendedores</a>
                        </li>
                        <li>
                            <a href="#">FAQs</a>
                        </li>
                        <li>
                            <a href="#">Información de envíos</a>
                        </li>
                    </ul>
                </div>
                
                <!-- Contact Us -->
                <div class="col">
                    <h3>Contactanos</h3>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-location-dot"></i>
                                Almacenes SIMAN
                                El Salvador, San Salvador
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-envelope"></i>
                                almacenessiman@siman.com
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-user"></i>
                                +503 2415-958
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Social media links -->
            <div class="social-media">

                <!-- Links -->
                <div class="social">

                    <!-- Link -->
                    <a class="link" href="#" title="Facebook">
                        <i class="fa-brands fa-facebook"></i>
                    </a>

                    <!-- Link -->
                    <a class="link" href="#" title="Instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <!-- Link -->
                    <a class="link" href="#" title="Twitter">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                </div>
                
                <!-- Footer info -->
                <div class="info">2025, Almacenes SIMAN, Desarrollado por Iván Mendoza</div>

                <!-- Payments methods -->
                <div class="payment">
                    <i class="fa-brands fa-cc-visa"></i>
                    <i class="fa-brands fa-cc-mastercard"></i>
                    <i class="fa-brands fa-cc-paypal"></i>
                </div>
            </div>
        </footer>
    </div>

    <script src="../js/app.js"></script>
</body>
</html>