:root{
    // Paleta principal
    --bg-primary: #FAF8F2;
    --bg-secondary: #f0ede4;
    --beige-teal: #F1EDE7;
    --gray-acent: #ebebeb;
    --white: #FAFAFA;
    --black: #333333;
    --gray: #797979;
    --red: #b72020;
    
    // Textos
    --white-text: #FAFAFA;
    --black-text: #333333;
    --placeholder: #757575;

    // Hovers
    --link-hover: #494949;
    --link-hover-white: #f0f0f0;

    // Borders
    --border-gray: #dfdfdf;
}